@charset "UTF-8";
*{
    box-sizing: border-box;
    margin: 0;
}
header{
    background-color: black;
    height: 150px;
    font-size: 1.1rem;
    text-align: center;

}
header > h1{
    color: white;
    padding-top: 50px;
    font-variant: small-caps;
    
}
header > p{
    color: white;
    padding-bottom: 50px;
}
header > p > a{
    padding-left: 7px;
    text-decoration: none;
    color: white;
}
header > p > a:hover{
    text-decoration: underline;
    color: blueviolet;
}
html, body{
    background-color: darkgray;
    min-height: 100vh;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(36, 35, 35);
    color: white;
}
section.imagem > p{
    background-color: rgba(2, 2, 2, 0.884);
    width: 400px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
footer > p > a {
    text-decoration: none;
    color: white;
}
footer > p > a:hover {
    text-decoration: underline;
    color: blueviolet;
}
